---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Hero	 from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
import Services from '../components/Services.astro';
import Projects from '../components/Projects.astro'
import ContactUs from '../components/ContactUs.astro'
---

<Layout title="Consorcio Abastecedor Chapingo S.A. de C.V.">
	<main>
		<body>	
			<Hero id="inicio"></Hero>
			<AboutUs id="nosotros"></AboutUs>
			<Services id="servicios"></Services>
			<Projects id="proyectos"></Projects>
			<ContactUs id="contacto"></ContactUs>
		</body>
		<Footer></Footer>
	</main>
</Layout>



