---
import Layout from '../layouts/Layout.astro';
import ModalThankyou from '../components/ModalTanks.astro'
---

<Layout title="Consorcio Abastecedor Chapingo S.A. de C.V.">
	<main>
		<body>	
            <ModalThankyou></ModalThankyou>
		</body>
	</main>
</Layout>