---
import Form from "./Form.astro"
import WhatsApp from "./icons/WhatsApp.astro"
import Map from "./icons/Map.astro"
const {id} = Astro.props;
---
<section id={id} class="px-10 pb-20 pt-10 flex justify-around gap-16">
    <article class="w-1/2">
        <h2 class="font-extrabold text-7xl">CONTACTANOS</h2>
        <p class="mt-2 text-lg">Estamos aquí para ayudarte a llevar tu proyecto al siguiente nivel.</p>
        <p class="mt-1 text-lg text-pretty">
            Ya sea que tengas preguntas sobre nuestros servicios, desees una cotización personalizada o necesites más información sobre cómo podemos ayudarte, no dudes en ponerte en contacto con nosotros.</p>
        <div class="mt-4 flex gap-2 items-center">
            <div class="w-2/6">
                <a class="flex items-center gap-2" target="_blank" href=""><WhatsApp></WhatsApp> 747 26 52 807</a>
                <a class="flex items-center gap-2" target="_blank" href=""><WhatsApp></WhatsApp>  747 11 06 620</a>
            </div>
            <div class="w-4/6 flex items-center gap-2 text-sm">
                <Map></Map>PRÓL. MATAMOROS S/N BARRIO SAN AGUSTÍN LAS PETAQUILLAS, GRO. C.P. 39105
            </div>
        </div>
    </article>
    <Form class=""></Form>
    
</section>