---
import Logo from '../components/icons/Logo.astro';
---

<section class="bg-[#23467b] py-7 text-center">
    <div class="flex justify-center">
        <Logo class=""></Logo>
    </div>
    <p class="mx-auto w-4/5 text-[#f1f1f1] font-normal text-xl mt-2 lg:w-1/4">© 2024 Consorcio Abastecedor Chapingo S.A. de C.V.</p>
</section>