---

---
<form class="bg-[#f1f1f1] rounded-lg flex flex-col p-8 w-full" action="">
    <label  for="">Nombre
        <input class="block mt-1 border-solid border-2 bg-[#f1f1f1] rounded-md border-[#23467b] p-2 w-full" autofocus type="text" >
    </label>
    <label class="mt-2" for="">Correo electrónico
        <input class="block mt-1 border-solid border-2 bg-[#f1f1f1] rounded-md border-[#23467b] p-2 w-full" autofocus type="text">
    </label>
    <label class="mt-2" for="">Mensaje
        <textarea class="block mt-1 border-solid border-2 bg-[#f1f1f1] rounded-md border-[#23467b] p-2 w-full max-h-16" autofocus></textarea>
    </label>
    <button class="bg-[#db7c48] text-[#23467b] py-2 font-bold mt-5 rounded-md :">ENVIAR</button>
</form>