---
import Header from "./Header.astro"
---
<section class="flex items-center justify-center gap-4 h-screen p-8">
    <article class="w-3/5 bg-[#f1f1f1] text-[#23467b] p-3 rounded-2xl">
        <Header></Header>
        <span class="block text-5xl font-bold">
            CONSORCIO ABASTECEDOR CHAPINGO S.A. DE C.V.
        </span>
        <span class="text-xl block my-6">La mejor calidad y profesionalismo en diferentes servicios de construcción.</span>
        <a class="block  bg-[#23467b] w-4/12 text-[#db7c48] px-2 py-1 font-semibold rounded-xl text-xl " href="">Contactanos</a>
        <div class="w-full flex justify-between items-center mt-6 mb-1 gap-7">
            <div class="py-4 rounded-lg bg-[#23467b] text-[#db7c48] w-1/3 text-center font-bold">
                <span class="text-5xl">395</span><span class="text-3xl"> +</span>
                <p class="font-bold text-2xl mt-1">Construcciones</p>
            </div>
            <div class="py-4 rounded-lg bg-[#db7c48] text-[#23467b] w-1/3 text-center font-bold">
                <span class="text-5xl">7</span><span class="text-3xl"> ~</span>
                <p class="font-bold text-2xl mt-1">Estados</p>
            </div>
            <div class="py-4 rounded-lg bg-[#23467b] text-[#db7c48] w-1/3 text-center font-bold">
                <span class="text-5xl">20</span><span class="text-3xl"> +</span>
                <p class="font-bold text-2xl mt-1">Localidades</p>
            </div>
        </div>
    </article>
    
    
    <div class="w-2/5 h-full bg-[url('../img/Hero.webp')] rounded-2xl bg-cover relative font-bold">
        <span class="text-[#23467b] rounded-3xl px-2 text-center absolute bg-[#f1f1f1cc] top-20 left-16">CALIDAD</span>
        <span class="text-[#23467b] rounded-3xl px-2 text-center absolute bg-[#f1f1f1cc] bottom-12 right-16">COMPROMISO</span>
    </div>
</section>