---

---
<section class="w-full h-screen flex items-center justify-center bg-[#f1f1f1] ">
    <article class="bg-[#23467b] p-20 text-left">
        <p class="">GRACIAS POR PONERTE EN CONTACTO CON NOSOTROS</p>
        <a href="https://www.consorcioabastecedorchapingo.com/" class="bg-[#f1f1f1] rounded-md p-4 block mt-5">Regresar a la página de inicio</a>
    </article>
</section>
