---
const {id} = Astro.props;
import Modal  from "../components/Modal.astro";
import ProjectsContainer from "../components/ProjectsContainer.astro"
import ProjectsItem from "./ProjectsItem.astro";
---

<section id={id} class="p-10  flex flex-col gap-6 mx-auto">
    <article class="flex flex-col items-center lg:flex-row ">
        <div class="w-11/12 pb-10 lg:w-1/2 lg:p-0">
            <h2 class="font-extrabold text-5xl lg:text-7xl">PROYECTOS</h2>
            <p class="pr-2 mt-4">Cada proyecto que emprendemos representa una oportunidad para transformar ideas en realidad. 
                Ya sea que se trate de grandes obras o remodelaciones personalizadas, nuestra pasión por la excelencia y el uso de materiales de alta calidad son el pilar de cada proyecto que llevamos a cabo.</p>
        </div>
        <div class="flex justify-between items-center gap-5 w-full bg-[#f1f1f1] rounded-lg p-5 shadow-xl flex-col lg:flex-row lg:w-1/2">
            <ProjectsItem img="../img/projects/img-1.webp" alt="1"></ProjectsItem>
            <ProjectsItem img="../img/projects/img-4.webp" alt="4"></ProjectsItem>
        </div>
    </article>
    <ProjectsContainer>
        <ProjectsItem img="../img/projects/img-2.webp" alt="2"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-3.webp" alt="3"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-5.webp" alt="5"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-6.webp" alt="6"></ProjectsItem>
    </ProjectsContainer>
    <ProjectsContainer>
        <ProjectsItem img="../img/projects/img-7.webp" alt="7"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-8.webp" alt="8"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-9.webp" alt="9"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-10.webp" alt="10"></ProjectsItem>
    </ProjectsContainer>
    <ProjectsContainer>
        <ProjectsItem img="../img/projects/img-11.webp" alt="11"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-12.webp" alt="12"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-13.webp" alt="13"></ProjectsItem>
        <ProjectsItem img="../img/projects/img-14.webp" alt="14"></ProjectsItem>
    </ProjectsContainer>
    
</section>

<Modal></Modal>

<script>

    const items = document.querySelectorAll('button.openModal');
    items.forEach((item) => {
        item.addEventListener('click', () => {
            //recuperamos el id del item seleccionado
            let itemSelected = item.id
            let itemSelectedUrl = item.getAttribute('data-img') ;

            //creamos variables para personalizar el modal

            let imgModal = document.getElementById('imgModal');

            if (imgModal) {
                imgModal.setAttribute("src", itemSelectedUrl ?? ""); // Safe assignment
                imgModal.setAttribute("alt", itemSelected ?? ""); // Safe assignment
            }
        });
    });
</script>