---
import ArrowUpRight from "./icons/Arrow-up-right.astro"
const {id} = Astro.props;
---

<section id={id} class="p-10  flex flex-col gap-6 mx-auto">
    <article class="flex items-center">
        <div class="w-1/2">
            <h2 class="font-extrabold text-7xl">PROYECTOS</h2>
            <p class="pr-2 mt-4">Cada proyecto que emprendemos representa una oportunidad para transformar ideas en realidad. 
                Ya sea que se trate de grandes obras o remodelaciones personalizadas, nuestra pasión por la excelencia y el uso de materiales de alta calidad son el pilar de cada proyecto que llevamos a cabo.</p>
        </div>
        <div class="flex justify-between items-center gap-5 w-1/2 bg-[#f1f1f1] rounded-lg p-5">
            <div class="w-1/2 relative">
                <img class="rounded-md" src="../img/projects/img-1.webp" alt="">
                <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                    <ArrowUpRight ></ArrowUpRight>
                </button>
                
            </div>
            <div class="w-1/2 relative">
                <img class="rounded-md" src="../img/projects/img-4.webp" alt="">
                <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                    <ArrowUpRight ></ArrowUpRight>
                </button>
                
            </div>
            
        </div>
    </article>
    <div class="flex justify-between items-center gap-5 p-5 bg-[#f1f1f1] rounded-lg">
        <div class="w-1/4 relative">
            <img class="rounded-md"  src="../img/projects/img-2.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md"  src="../img/projects/img-3.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md"  src="../img/projects/img-5.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md"  src="../img/projects/img-6.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
    </div>
    <div class="flex justify-between items-center gap-5 p-5 bg-[#f1f1f1] rounded-lg">
        <div class="w-1/4 relative">
            <img class="rounded-md" src="../img/projects/img-6.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md" src="../img/projects/img-7.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md" src="../img/projects/img-8.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md" src="../img/projects/img-9.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
      
    </div>
    <div class="flex justify-between items-center gap-5 p-5 bg-[#f1f1f1] rounded-lg">
        <div class="w-1/4 relative">
            <img class="rounded-md" src="../img/projects/img-10.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md" src="../img/projects/img-11.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md" src="../img/projects/img-12.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
        <div class="w-1/4 relative">
            <img class="rounded-md" src="../img/projects/img-13.webp" alt="">
            <button class="absolute right-3 top-3 bg-[#f1f1f1] p-1 rounded-full flex justify-center items-center">
                <ArrowUpRight ></ArrowUpRight>
            </button>
        </div>
    </div>
</section>