---
const {id} =Astro.props;
---

<section id={id} class="px-10">
    <article class="bg-[#f1f1f1] rounded-xl flex justify-center items-center gap-10 w-full py-10 px-24">
        <div class="w-1/2 flex flex-col gap-4">
            <div class="bg-[#23467b] rounded-lg py-2 px-2 flex gap-2 items-center">
                <img class="w-1/5 rounded-sm" src="../img/supplier.webp" alt=""> 
                <div class="text-[#f1f1f1]">
                    <h4 class="font-semibold text-lg ">Proveedor</h4>
                    <p class="text-sm text-pretty font-light mt-1">Ofrecemos una amplia gama de productos de alta calidad, para garantizar que cada proyecto se desarrolle con los mejores insumos.</p>
                </div>
            </div>
            <div class="bg-[#db7c48] rounded-lg py-2 px-2 flex gap-2 items-center">
                <img class="w-1/5 rounded-sm" src="../img/interiors.webp" alt="">
                <div class="text-[#f1f1f1]">
                    <h4 class="font-semibold text-lg ">Interiores</h4>
                    <p class="text-sm text-pretty font-light mt-1">Trabajamos con materiales de primera para asegurar resultados excepcionales en cada proyecto.</p>
                </div>
            </div>
            <div class="bg-[#23467b] rounded-lg py-2 px-2 flex gap-2 items-center">
                <img class="w-1/5 rounded-sm" src="../img/construccion.webp" alt="">
                <div class="text-[#f1f1f1]">
                    <h4 class="font-semibold text-lg ">Construcción</h4>
                    <p class="text-sm text-pretty font-light mt-1">Nos enfocamos en crear estructuras sólidas, seguras y eficientes, adaptadas a las necesidades y especificaciones de cada cliente.</p>
                </div>
            </div>
        </div>
        <div class="w-1/2">
            <h2 class="font-extrabold text-7xl">SERVICIOS</h2>
            <p class="mt-2 text-pretty text-sm">
                Somos tu aliado estratégico en la adquisición y distribución de productos confiables, ofreciendo atención personalizada, tiempos de entrega eficientes y un compromiso firme con la calidad. Ya sea que busques abastecer tu negocio, emprender un nuevo proyecto o simplificar tu cadena de suministro, estamos listos para ayudarte a crecer. Conoce a continuación todo lo que podemos hacer por ti.
            </p>
            <img class="h-40 w-full object-cover mt-4 rounded-lg" src="../img/Services.webp" alt="">
        </div>
    </article>
</section>